body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}

header {
  padding: 0.5em;
  width: 100%;
  background-color: white;
  margin-bottom: 0px;
}

header .nav {
  padding-top: 0px;
}

@media screen and (max-width: 992px) {
  header {
    text-align: center;
  }
  header .nav-pills li {
    margin: 0px;
    text-align: center;
    width: 100%;
  }
}

.bg-danger {
  color: white;
}

h1.main-title {
  margin-top: 6px;
  font-weight: bold;
  font-size: 1.6em;
  letter-spacing: 3px;
}

div.main-container {
  margin-top: 2em;
}

/* index */

.jumbotron h1, .jumbotron p {
  text-align: center;
}

.index div.advices {
  margin-top: 4px;
  text-align: center;
}

/* audiencse */

.audiences .info-label {
  font-size: 1.2em;
}

.audiences .info-value {
  font-size: 1.2em;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .audiences .info-label {
    text-align: right;
    padding-right: 2em;
  }

  .audiences .info-value {
  }
}

@media screen and (max-width: 992px) {
  .audiences .info-label {
    text-align: center;
    font-size: 1.4em;
  }

  .audiences .info-value {
    text-align: center;
    font-size: 1.4em;
  }
}

.audiences .info {
  min-height: 3em;
}

.audiences .info-icons {
  font-size: 1.5em;
  margin-right: 1em;
}

.audiences .icon-falling {
  color: #d51a1a;
}

.audiences .icon-new {
  font-size: 0.7em;
  color: #2c2c2c;
}

.audiences .icon-removed {
  font-size: 0.7em;
  color: #aaaaaa;
}

.audiences .icon-rising {
  color: #1ad52c;
}

.audiences .icon-minus {
  color: #5791c2;
}

.audiences #articles_container {
  margin-top: 2em;
}

.audiences .article {
  padding: 1em;
  padding-bottom: 1.0em;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
}

.audiences .article-info {
  padding-top: 1em;
  padding-left: 1em;
}

.audiences .article-chart {
}

.audiences .article:hover {
  background-color: white;
}

.audiences .col-header {
  font-weight: bold;
  border: 0px;
}

.audiences .article .col-entry {
  text-align: center;
}

.audiences .article .col-entry-small {
  padding-top: 1em;
  font-size: 0.8em;
  color: #bbbbbb;
}

.audiences .article .col-entry-small:hover {
  color: #999999;
}

.audiences .row .articles-actions {
  text-align: center;
}

.audiences select.time-selector {
  font-size: 0.7em;
  margin-left: 5px;
  padding-left: 4px;
}

.audiences div#demomessage {
  margin-top: 1em;
}

.audiences p.demo-message {
  background-color: #eeeeee;
  padding: 2em;
}

.audiences p.demo-message i {
  color: #ddd;
  padding-right: 1em;
  font-size: 1.5em;
}

footer {
  padding: 1em;
  padding-top: 2em;
  font-size: 0.9em;
  color: #aaaaaa;
  text-align: center;
  margin-bottom: 1em;
}

footer span.extra {
  font-size: 0.8em;
}

/* signin */

div.signin {
  width: 400px;
  text-align: center;
}

.signin div.error {
  margin-top: 1.5em;
}

.signin #error {
  padding: 0.5em;
  font-size: 1.0em;
}

/* register */

div.register {
  width: 400px;
  text-align: center;
}

.register h1 {
  font-size: 3em;
  margin-top: 0px;
}

.register div.error {
  margin-top: 1.5em;
}

.register #error {
  padding: 0.5em;
  font-size: 1.0em;
}
