<script type="text/template" id="template_article">
  <div onclick="app.audiences.article_details(event, this)" data-id="${id}" id="article-${id}" class="article <% if (state == 'removed') { print('article-removed'); } %>">
    <div class="row">
    <div class="col-lg-1 col-entry" title="Current rank">
      <% if (+current_rank > 0) { %>
        ${current_rank}
      <% } %>
      <% if (promoted) { %>
        <i class="fa fa-usd"> </i>
      <% } else if (sticky) { %>
        <i class="fa fa-tag"> </i>
      <% } %>
    </div>
    <div class="col-lg-8"> 
      <a href="${link}" title="<%- title %>"><%- title %></a>
    </div>
    <% if (promoted) { %>
      <div class="col-lg-4">
      </div>
    <% } else if (sticky) { %>
      <div class="col-lg-4">
      </div>
    <% } else { %>
        <div class="col-lg-1 col-entry hint--bottom" data-hint='<% print( _.capitalize(state) ); %>'>
          <% if (state == 'rising') { %>
            <i class="fa fa-caret-up icon-rising"> </i>
          <% } else if (state == 'falling') { %>
            <i class="fa fa-caret-down icon-falling"> </i>
          <% } else if (state == 'new') { %>
            <i class="fa fa-plus icon-new"> </i>
          <% } else if (state == 'removed') { %>
            <i class="fa fa-times icon-removed"> </i>
          <% } else { %>
            <i class="fa fa-minus icon-minus"> </i>
          <% } %>
        </div>
        <div class="col-lg-1 col-entry" title="Highest rank">
          ${min_rank}
        </div>
        <div class="col-lg-1 col-entry" title="Lowest rank">
          ${max_rank}
        </div>
    <% } %>
    </div>
    <% if (!sticky && !promoted) { %>
    <div class="row">
      <div class="col-lg-offset-1 col-lg-2 col-entry-small">
        Score: ${score}
      </div>
      <div class="col-lg-2 col-entry-small">
        ${comments} comment<% if (comments > 1) { print('s') } %>
      </div>
      <div class="col-lg-offset-5 col-lg-2 col-entry col-entry-small">
        <% if (first_seen) { %>
          First seen on <% print(moment(new Date(first_seen)).format('Y-MM-DD')); %>
          at <% print(moment(new Date(first_seen)).format('HH:mm a')); %>
        <% } %>
      </div>
    </div>
    <% } %>
    <div id="article-info-${id}" class="row article-info" style="display: none;">
    </div>
  </div>
</script>
