{{template "header.html" .}} 
  {{template "article_partial.html" .}}
  {{template "article_info_partial.html" .}}
  <div class="audiences container" id="app-data" data-subreddit="{{.Subreddit }}">
    <div class="row" id="demomessage" style="display: none;">
      <p class="demo-message">
        <i class="fa fa-info"></i> You're in demo mode. Please <a href="/register" title="Create an account">create an account</a> or <a href="/signin" title="Sign in">Sign in</a> to access to more features such as
        7 days statistics and graphs annotation.
      </p>
    </div>
    <div class="row">
      <h1>
        <a href='https://reddit.com/r/{{.Subreddit}}' alt="Go to /r/{{.Subreddit}}">/r/{{ capitalize .Subreddit }}</a>
        <small> during the last </small>
        <select onchange="app.audiences.on_time_selection_change(event);" class="time-selector" id="time">
          <option value="36h" selected>36 hours</option>
          <option value="7d">7 days</option>
        </select>
      </h1>
    </div>
    <div class="row">
      <div id="chart">
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-6 info-label">
        Average users connected today
      </div>
      <div class="col-lg-6 info-value">
        <i class="fa fa-users info-icons"></i><span class="info-value" id="average"></span>
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-6 info-label">
        Highest audience
      </div>
      <div class="col-lg-6 info-value">
        <i class="fa fa-long-arrow-up info-icons"></i><span class="info-value" id="highest"></span>
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-6 info-label">
        Lowest audience
      </div>
      <div class="col-lg-6 info-value">
        <i class="fa fa-long-arrow-down info-icons"></i> <span class="info-value" id="lowest"></span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-offset-9 col-lg-3 articles-actions">
        <input type="checkbox" checked="true" id="hide-removed" onclick="app.audiences.toggle_removed(this);"> </input>
        <label for="hide-removed">&nbsp;Hide removed articles</label>
      </div>
    </div>
    <div>
      <div class="article row col-header">
        <div class="col-lg-8 col-entry">Articles</div>
        <div class="col-lg-1 col-entry">State</div>
        <div class="col-lg-1 col-entry">Current rank</div>
        <div class="col-lg-1 col-entry">Highest rank</div>
        <div class="col-lg-1 col-entry">Lowest rank</div>
      </div>
    </div>
    <div id="articles_container">
    </div>
  </div>
  <script type="text/javascript" src="/audiences.js"></script>
{{template "footer.html"}}
