{{template "header.html"}} 
  <script type="text/template" id="template_article">
    <div class="article <% if (state == 'removed') { print('article-removed'); } %>">
      <div class="row">
      <div class="col-lg-8"> 
      <% if (promoted) { %>
        <i class="fa fa-usd"> </i>
      <% } else if (sticky) { %>
        <i class="fa fa-tag"> </i>
      <% } %>
        <a href="${link}" title="<%- title %>"><%- title %></a>
      </div>
      <% if (promoted) { %>
        <div class="col-lg-4">
        </div>
      <% } else if (sticky) { %>
        <div class="col-lg-4">
        </div>
      <% } else { %>
          <div class="col-lg-1 col-entry hint--bottom" data-hint='<% print( _.capitalize(state) ); %>'>
          <% if (state == 'rising') { %>
              <i title="Rising" class="fa fa-caret-up icon-rising"> </i>
            <% } else if (state == 'falling') { %>
              <i title="Falling" class="fa fa-caret-down icon-falling"> </i>
            <% } else if (state == 'new') { %>
              <i title="New" class="fa fa-plus icon-new"> </i>
            <% } else if (state == 'removed') { %>
              <i title="Removed" class="fa fa-times icon-removed"> </i>
            <% } else { %>
              <i title="Stagnant" class="fa fa-minus icon-minus"> </i>
            <% } %>
          </div>
          <div class="col-lg-1 col-entry" title="Current rank">
            ${current_rank}
          </div>
          <div class="col-lg-1 col-entry" title="Highest rank">
            ${min_rank}
          </div>
          <div class="col-lg-1 col-entry" title="Lowest rank">
            ${max_rank}
          </div>
      <% } %>
      </div>
      <% if (!sticky && !promoted) { %>
      <div class="row">
        <div class="col-lg-offset-10 col-lg-2 col-entry col-entry-small">
          <% if (first_seen) { %>
            First seen on <% print(moment(new Date(first_seen)).format('Y-MM-DD')); %>
            at <% print(moment(new Date(first_seen)).format('HH:mm a')); %>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </script>
  <div class="audiences container" id="app-data" data-subreddit="{{.Subreddit }}">
    <div class="row">
      <h1><a href='https://reddit.com/r/{{.Subreddit}}' alt="Go to /r/{{.Subreddit}}">/r/{{ capitalize .Subreddit }}</a><small> during the last 36 hours.</small></h1>
    </div>
    <div class="row">
      <div id="chart">
      </div>
    </div>
    <div class="row">
      <div id="chart_articles">
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-6 info-label">
        Average users connected today
      </div>
      <div class="col-lg-6 info-value">
        <i class="fa fa-users info-icons"></i><span class="info-value" id="average"></span>
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-6 info-label">
        Highest audience
      </div>
      <div class="col-lg-6 info-value">
        <i class="fa fa-long-arrow-up info-icons"></i><span class="info-value" id="highest"></span>
      </div>
    </div>
    <div class="row info">
      <div class="col-lg-6 info-label">
        Lowest audience
      </div>
      <div class="col-lg-6 info-value">
        <i class="fa fa-long-arrow-down info-icons"></i> <span class="info-value" id="lowest"></span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-offset-9 col-lg-3 articles-actions">
        <input type="checkbox" checked="true" id="hide-removed" onclick="app.audiences.toggle_removed(this);"> </input>
        <label for="hide-removed">&nbsp;Hide removed articles</label>
      </div>
    </div>
    <div id="articles_container">
      <div class="article row col-header">
        <div class="col-lg-8 col-entry">Articles</div>
        <div class="col-lg-1 col-entry">State</div>
        <div class="col-lg-1 col-entry">Current rank</div>
        <div class="col-lg-1 col-entry">Highest rank</div>
        <div class="col-lg-1 col-entry">Lowest rank</div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/audiences.js"></script>
{{template "footer.html"}}
