<!doctype html>
<html>
  <head>
    <link type="text/css" rel='stylesheet' href='/font-awesome.min.css'>
    <link type="text/css" rel='stylesheet' href='/minimal-bootstrap.min.css'>
    <link type="text/css" rel='stylesheet' href='/nv.d3.min.css'>
    <link type="text/css" rel='stylesheet' href='/style.css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <title>Reddit audiences</title>
    <script src="/d3.min.js"></script>
    <script src="/nv.d3.min.js"></script>
    <script src="/lodash.min.js"></script>
    <script src="/moment-with-locales.min.js"></script>
    <script src="/moment-timezone-with-data.min.js"></script>
    <script src="/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <header>
    <div class="topbar container-fluid">
      <div class="row-fluid">
        <div class="col-lg-4">
          <a href="/" alt="Back to homepage"><h1 class="main-title">Reddit Audiences</h1></a>
        </div>
        <div class="col-lg-offset-6 col-lg-2">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
