{{template "header.html"}} 
  <div class="container main-container">
    <div class="jumbotron">
      <h1>Follow Reddit audience</h1>
      <p>Enter a Subreddits for which you want to follow the audience.</p>
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Subreddit">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{template "footer.html"}}
